
     <div id="main" class="font-poppins">
        
        <button id="goto-top"
            class="border rounded-full h-12 w-12 fixed bottom-20 bg-white right-4 border-gray-300 z-20">
            <i (click)="scrollToTop()" class="fa-solid fa-caret-up text-3xl cursor-pointer text-gray-600"></i>
        </button>
        <a href="https://wa.me/919870944489" target="_blank">
            <div id="message" class="fixed bottom-5 right-5 z-20 flex gap-2 box-border">
                <button id="message-btn" class="border rounded-full h-14 w-14 border-gray-300 bg-gray-100">
                    <i class="fa-brands fa-whatsapp text-3xl cursor-pointer text-gray-600"></i>
                </button>
            </div>
        </a>
        <div id="extra" class="lg:h-20 h-16 bg-white w-full"></div>
    </div>
    <div id="container">
        <div id="image" class=""><img class="w-screen"
                src="assets/storyFooterimg.jpg"
                alt="">
        </div>
    </div>
    <div class=" text-center sm:py-20 py-10 sm:px-20 px-5 flex flex-col sm:gap-10 gap-5">
        <h3 class="uppercase sm:text-3xl text-2xl tracking-wider">Design By Heart</h3>
        <p>we believe the best designs are not just seen — they are felt. That's why we design from the heart. Every project we take on is more than just a layout or a color palette; it’s a story waiting to be told. We listen deeply, understand your lifestyle, and then pour creativity, emotion, and intention into every corner of your space. For us, it's not about filling rooms — it’s about creating a sense of belonging, comfort, and timeless beauty. Because when a space is designed by heart, it connects, comforts, and inspires every day.</p>
    </div>
    <div
        class="text-center sm:py-20 py-10 lg:px-96 md:px-60 sm:px-20 px-5 flex flex-col sm:gap-10 gap-5 text-white bg-gray-500">
        <h3 class="uppercase sm:text-3xl text-2xl tracking-wider">About Us</h3>
        <p>Founded in 2025, Avara Interior is a passionate and evolving interior design studio committed to transforming everyday spaces into timeless, functional environments. As a start-up rooted in creativity and client-centered values, we focus on delivering thoughtful, personalized interiors that blend aesthetics with practicality.</p>
        <p>At Avara, we work closely with homeowners, developers, and commercial clients to ensure each project reflects their vision while offering expert space planning, material selection, and turnkey execution.</p>
    </div>
    <div class="flex flex-wrap">
        <div class="lg:w-4/12 sm:w-1/2  sm:py-10 py-5 text-center px-5 flex flex-col gap-5">
            <h3 class="text-2xl">2025</h3>
            <p>Avara Interior was established in 2025 with a bold vision to transform everyday spaces into soulful, functional environments. From day one, our focus has been on thoughtful design, client collaboration, and timeless aesthetics.</p>
        </div>
        <div class="lg:w-4/12 sm:w-1/2  sm:py-10 py-5 text-center px-5 flex flex-col gap-5">
            <h3 class="text-2xl">Our Team</h3>
            <p>We're a compact, hands-on team of designers and project managers who believe in attention to detail, transparent processes, and staying updated with modern design trends. Though small, our team is dynamic, and we collaborate with trusted vendors and craftsmen to deliver quality work on time.</p>
        </div>
        <div class="lg:w-4/12 sm:w-1/2  sm:py-10 py-5 text-center px-5 flex flex-col gap-5">
            <h3 class=" text-2xl">Environmental Responsibility</h3>
            <p>We works towards maintaining balance between ecosystem and economy. 50% of total power consumption is Solar based and water harvesting is encouraged. We maintain highest standards in quality.</p>
        </div>
        <div class="lg:w-4/12 sm:w-1/2  sm:py-10 py-5 text-center px-5 flex flex-col gap-5">
            <h3 class=" text-2xl">Materials</h3>
            <p>We use various materials like wood, metal, stone, natural fibers, concrete in combination with latest
                technology and techniques.</p>
        </div>
        <div class="lg:w-4/12 sm:w-1/2  sm:py-10 py-5 text-center px-5 flex flex-col gap-5">
            <h3 class="text-2xl">Factory</h3>
            <p>With our dedicated factory in Chennai, we maintain full control over production quality, timelines, and customization. It allows us to deliver precision-crafted furniture and interiors without compromises.</p>
        </div>
        <div class="lg:w-4/12 sm:w-1/2 sm:py-10 py-5 text-center px-5 flex flex-col gap-5">
            <h3 class=" text-2xl">Our Vision</h3>
            <p>To create soulful spaces that inspire living—whether it's a cozy spaces , a functional office, or a stylish retail outlet.</p>
        </div>
    </div>
    <div class="text-center sm:py-10 py-5 sm:px-20 px-0 flex flex-col sm:gap-10 gap-5 bg-black text-white my-0">
        <h3 class="uppercase sm:text-3xl text-2xl tracking-wider">How was Avara Interiors™ Born</h3>
        <p>Avara Interior started its journey in 2025 with a simple belief: beautiful spaces should also be meaningful and practical. A few passionate designers came together, inspired by the idea of creating interiors that reflect personality, serve purpose, and feel like home. From cozy homes to commercial spaces, Avara focuses on blending creativity with real-world functionality — delivering interiors that truly inspire living.</p>
    </div>
    <!-- <img src="assets/storyFooterimg.jpg" alt="" class="w-full h-fit sm:mt-10"> -->
