
    <div id="main"  class="font-poppins">
       
        <!-- <div id="fixed-bottem" class="fixed bottom-0 bg-white lg:w-9/12 gap-1 py-2 px-5 z-10 rounded-lg">
            <button id="close-bottem" class="bg-gray-200 w-8 h-8 cursor-pointer rounded-full absolute right-2 top-2"><i
                    class="fa-solid fa-xmark"></i></button>
            <div id="bottom-content" class=" w-3/4 flex flex-col gap-1">
                <p class="font-semibold text-sm text-black">We use cookies to make your experience etter</p>
                <p class="font-light text-sm text-gray-600">comply with the new e-Privacy directive, we need to ask for
                    your consent to set the cookies <a href="#" class="font-light text-sm text-gray-600 underline">Learn
                        more</a></p>
                <button type="button" id="cookies-btn" class="py-1 px-3 bg-black text-gray-100 w-fit">Allow
                    Cookies</button>
            </div>
        </div> -->
        <button id="goto-top"
            class="border rounded-full h-12 w-12 fixed bottom-20 bg-white right-4 border-gray-300 z-20">
            <i (click)="scrollToTop()" class="fa-solid fa-caret-up text-3xl cursor-pointer text-gray-600"></i>
        </button>
        <a href="https://wa.me/919870944489" target="_blank">
            <div id="message" class="fixed bottom-5 right-5 z-20 flex gap-2 box-border">
                <button id="message-btn" class="border rounded-full h-14 w-14 border-gray-300 bg-gray-100">
                    <i class="fa-brands fa-whatsapp text-3xl cursor-pointer text-gray-600"></i>
                </button>
            </div>
        </a>
        <div id="extra" class="lg:h-20 h-16 bg-white w-full"></div>
        <div id="video-container">
            <video autoplay muted loop playsinline>
                <source src="assets/interior-viedeo.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div id="visit" class="tracking-widest p-3 text-center font-semibold bg-gray-600 text-gray-50">VISIT US</div>
        <div id="contant"
            class="xl:w-1/2 md:w-3/4 sm:w-11/12 mx-auto text-center p-8 flex flex-col gap-5 tracking-wider leading-loose">
            <p>~ a dream in art, design, and living well ~</p>
            <p>The House of Things Gallery is both a journey and a destination — an immersive 25,000-square-foot space
                dedicated to thoughtfully curated art, furniture, homeware, and rare collectibles from across the world.
            </p>
            <p> Each piece is purposefully designed and rich with heritage. By exploring the stories behind these
                objects, we uncover fragments of a home — woven together through craft, history, and timeless design.
            </p>
        </div>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
            <div class="grid gap-4">
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-1.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-2.jpg" alt="">
                </div>
            </div>
            <div class="grid gap-4">
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-3.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-4.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-5.jpg" alt="">
                </div>
            </div>
            <div class="grid gap-4">
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-6.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-7.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-8.jpg" alt="">
                </div>
            </div>
            <div class="grid gap-4">
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-9.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-10.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                        src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-11.jpg" alt="">
                </div>
            </div>
        </div>

    </div>
